<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Restitution Bourse aux Vélo CRSY</title>
</head>

<body>
  <h1>Restitution</h1>
  <a href="/rechercheFicheRestitution"><button>Chercher Fiche</button></a>
  <a href="/statistiques"><button>Statistiques</button></a>
  <a th:href="@{/debut/{table}(table=${taxiTable.taxi})}"><button>Retour</button></a>
</body>

</html>
