// $secondary: hsl(187, 100%, 95%);
$orangeClub: #ff8000;
$bleuClub: #0000b3;

$secondary: $orangeClub;
$primary: $bleuClub;
// $light: hsl(9, 16%, 97%);
$black: #000;
$enable-shadows: true;
$orange: #ff8000;
$light: hsl(0, 11%, 86%);
