@import "_variables_overrides.scss";
@import "../bootstrap/scss/bootstrap.scss";
.bloc {
    margin-top: 5px;
}

.btnOK {
    font-weight: bold;
    font-size: large;
}

#tableInput {
    font-size: large;
    text-align-last: center;
}

.choixES {
    justify-content: space-around;
    text-align-last: center;
}

a {
    text-decoration: none;
}

.num {
    font-weight: bold;
    color: rgb(39, 189, 46);
    text-shadow: 1px 1px 0 black;
    font-size: 50px;
}

.logo {
    height: 125px;
}

.phone {
    width: 10px;
    border: 0;
}
.inputphone {
    border: inset 2px grey;
}

caption {
    display: none;
}

.loupe {
    background: url("/../images/loupe2.png") no-repeat right;
    background-color: white;
    background-size: 20px;
    // background-size: contain;
    border-radius: 5px;
    padding-right: 25px;
}

.taxi {
    display: none;
}
